<div class="hero">
  <div class="hero-deco hero-deco-1"></div>
  <div class="hero-deco hero-deco-2"></div>

  <div class="hero-inner error-layout">
    <!-- GROS 404 -->
    <div class="error-visual">
      <span class="digit">4</span>
      <span class="digit zero">0</span>
      <span class="digit">4</span>
    </div>

    <div class="hero-info">
      <div class="hero-badge">Page introuvable</div>

      <h1>Tu t’es <strong>perdu</strong></h1>

      <p class="hero-title">Cette page n’existe pas… ou plus.</p>

      <p class="hero-bio">
        Le lien est peut-être cassé, ou la page a été déplacée. Dans tous les
        cas, t’es au mauvais endroit.
      </p>

      <div class="hero-actions">
        <button class="btn btn-primary" (click)="goHome()">
          Retour accueil
        </button>

        <button class="btn btn-outline" (click)="goBack()">Revenir</button>
      </div>
    </div>
  </div>
</div>
